%body
  %header
    %ul.nav-list
      %li.nav-list-item= link_to 'Top', root_path
      %li.nav-list-item= link_to 'Create course', new_course_path
      %li.nav-list-item= link_to 'All course', courses_path
